* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: AxiFormaBlack;
  src: url("../fonts/AXIFORMA-BLACK.OTF");
}

@font-face {
  font-family: AxiFormaBlackItalic;
  src: url("../fonts/AXIFORMA-BLACKITALIC.OTF");
}

@font-face {
  font-family: AxiFormaBold;
  src: url("../fonts/AXIFORMA-BOLD.OTF");
}

@font-face {
  font-family: AxiFormaBoldItalic;
  src: url("../fonts/AXIFORMA-BOLDITALIC.OTF");
}

@font-face {
  font-family: AxiFormaBook;
  src: url("../fonts/AXIFORMA-BOOK.OTF");
}

@font-face {
  font-family: AxiFormaExtraBold;
  src: url("../fonts/AXIFORMA-EXTRABOLD.OTF");
}

@font-face {
  font-family: AxiFormaHeavy;
  src: url("../fonts/AXIFORMA-HEAVY.OTF");
}

@font-face {
  font-family: AxiFormaHeavyItalic;
  src: url("../fonts/AXIFORMA-HEAVYITALIC.OTF");
}

@font-face {
  font-family: AxiFormaItalic;
  src: url("../fonts/AXIFORMA-ITALIC.OTF");
}

@font-face {
  font-family: AxiFormaLight;
  src: url("../fonts/AxiForma-Light.OTF");
}

@font-face {
  font-family: AxiFormaLightItalic;
  src: url("../fonts/AXIFORMA-LIGHTITALIC.OTF");
}

@font-face {
  font-family: AxiFormaMedium;
  src: url("../fonts/AxiForma-Medium.OTF");
}

@font-face {
  font-family: AxiFormaMediumItalic;
  src: url("../fonts/AXIFORMA-MEDIUMITALIC.OTF");
}

@font-face {
  font-family: AxiFormaRegular;
  src: url("../fonts/AXIFORMA-REGULAR.OTF");
}

@font-face {
  font-family: AxiFormaSemiBold;
  src: url("../fonts/AXIFORMA-SEMIBOLD.OTF");
}

@font-face {
  font-family: AxiFormaSemiBoldItalic;
  src: url("../fonts/AXIFORMA-SEMIBOLDITALIC.OTF");
}

@font-face {
  font-family: AxiFormaThin;
  src: url("../fonts/AXIFORMA-THIN.OTF");
}

@font-face {
  font-family: AxiFormaThinItalic;
  src: url("../fonts/AXIFORMA-THINITALIC.OTF");
}

.outerCont {
  width: 100%;
}

.outerCont .introSection {
  position: relative;
  width: 100%;
  height: 100vh;
}

.outerCont .introSection .myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  -o-object-fit: cover;
     object-fit: cover;
}

.outerCont .introSection .TulipCont {
  position: absolute;
  top: 0;
  padding-left: 3%;
  padding-top: 3%;
}

.outerCont .introSection .TulipCont .TulipLogo {
  width: 50%;
}

.outerCont .introSection .ContactSection {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3%;
  padding-top: 3%;
}

.outerCont .introSection .ContactSection .Contact {
  border-style: solid;
  border-width: 1px;
  border-color: #26937a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.outerCont .introSection .ContactSection .Contact .mailLogo {
  width: 25px;
  fill: #8dbaac;
}

.outerCont .introSection .ContactSection .Contact .Content {
  padding-left: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  font-family: AxiFormaBook;
}

.outerCont .introSection .IntroTextCont {
  position: absolute;
  top: 50%;
  left: 12.5%;
  right: 12.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outerCont .introSection .IntroTextCont .IntroTitleText {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  font-family: AxiFormaBold;
  color: #ffffff;
}

.outerCont .introSection .IntroTextCont .IntroDescription {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  font-family: AxiFormaBook;
  color: #ffffff;
  padding-left: 22%;
  padding-right: 20%;
}

.outerCont .introSection .ArrowDownButtonCont {
  position: absolute;
  bottom: 10%;
  left: 12.5%;
  right: 12.5%;
  padding-left: 3%;
  padding-top: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outerCont .introSection .ArrowDownButtonCont .ArrowDownButton {
  width: 70px;
  padding-left: 43%;
}

.outerCont .DetailInfoCont {
  margin-top: 100px;
}

.outerCont .DetailInfoCont .DefinitionCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  padding-right: 30px;
}

.outerCont .DetailInfoCont .DefinitionCont .ImageSectionCont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outerCont .DetailInfoCont .DefinitionCont .ImageSectionCont .ImageSection {
  width: 500px;
}

.outerCont .DetailInfoCont .DefinitionCont .TextInformation {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px;
}

.outerCont .DetailInfoCont .DefinitionCont .TextInformation .TitleSection {
  font-size: 50px;
  color: #848fa5;
  font-family: AxiFormaLight;
  margin-bottom: 30px;
}

.outerCont .DetailInfoCont .DefinitionCont .TextInformation .descriptionSection {
  font-size: 23px;
  color: #4d4d4d;
  font-family: AxiFormaThin;
  line-height: 2em;
  font-weight: 700;
}

.outerCont .CarouselCont {
  padding: 40px;
  background-color: #363945;
}

.outerCont .CarouselCont .CarouselHeader {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: AxiFormaMedium;
}

.outerCont .SignUpCont {
  padding: 40px;
}

.outerCont .SignUpCont .GetStarted {
  text-align: center;
  font-size: 35px;
  font-family: AxiFormaMedium;
  color: #848fa5;
  margin-bottom: 20px;
  font-weight: 800;
}

.outerCont .SignUpCont .FormFillRequest {
  text-align: center;
  font-family: AxiFormaBook;
  color: #585858;
}

.outerCont .SignUpCont .RequirementCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
  border: solid;
  border-color: #0debe8;
  border-width: 2px;
}

.outerCont .SignUpCont .RequirementCont .RequirementSubCont {
  margin: 30px 60px 20px 100px;
}

.outerCont .SignUpCont .RequirementCont .RequirementSubCont .RequirementHeader {
  font-family: AxiFormaBold;
  margin-bottom: 20px;
  color: #555555;
}

.outerCont .SignUpCont .RequirementCont .RequirementSubCont .RequirementsList {
  list-style: none;
}

.outerCont .SignUpCont .RequirementCont .RequirementSubCont .RequirementsList .RequirementItem {
  margin-bottom: 20px;
  font-family: AxiFormaLight;
}

.outerCont .SignUpCont .RequirementCont .RequirementSubCont .RequirementsList .RequirementItem ::before {
  content: "\2714\0020";
}

.outerCont .SignUpCont .SignUpFormCont {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.outerCont .SignUpCont .SignUpFormCont .NameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.outerCont .SignUpCont .SignUpFormCont .NameSection .FirstName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outerCont .SignUpCont .SignUpFormCont .NameSection .LastName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outerCont .SignUpCont .SignUpFormCont .NameSection .SuffixSelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outerCont .SignUpCont .SignUpFormCont .CredentialsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .FormContactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .FormContactSection .PhoneNumber {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outerCont .SignUpCont .SignUpFormCont .FormContactSection .EmailAddress {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .States {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .AreaOfFocusCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .HoursPatientReferredCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .TypicalResponseTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .WaitTimeForPatient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.outerCont .SignUpCont .SignUpFormCont .FeedbackToTulip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outerCont .FooterCont {
  margin: 50px;
}

.outerCont .FooterCont .FooterHorizontalLine {
  border: 1px solid #0eeae6;
  background-color: #0eeae6;
}

.outerCont .FooterCont .Footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.outerCont .FooterCont .Footer .Copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.outerCont .FooterCont .Footer .FooterContact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.outerCont .FooterCont .Footer .FooterContact .FooterColor {
  color: #000000;
}

.error {
  color: #cf2808;
  text-align: right;
}

.LabelAndInputBoxMargin {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */