* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: AxiFormaBlack;
  src: url("../fonts/AXIFORMA-BLACK.OTF");
}

@font-face {
  font-family: AxiFormaBlackItalic;
  src: url("../fonts/AXIFORMA-BLACKITALIC.OTF");
}
@font-face {
  font-family: AxiFormaBold;
  src: url("../fonts/AXIFORMA-BOLD.OTF");
}
@font-face {
  font-family: AxiFormaBoldItalic;
  src: url("../fonts/AXIFORMA-BOLDITALIC.OTF");
}

@font-face {
  font-family: AxiFormaBook;
  src: url("../fonts/AXIFORMA-BOOK.OTF");
}

@font-face {
  font-family: AxiFormaExtraBold;
  src: url("../fonts/AXIFORMA-EXTRABOLD.OTF");
}
@font-face {
  font-family: AxiFormaHeavy;
  src: url("../fonts/AXIFORMA-HEAVY.OTF");
}
@font-face {
  font-family: AxiFormaHeavyItalic;
  src: url("../fonts/AXIFORMA-HEAVYITALIC.OTF");
}

@font-face {
  font-family: AxiFormaItalic;
  src: url("../fonts/AXIFORMA-ITALIC.OTF");
}

@font-face {
  font-family: AxiFormaLight;
  src: url("../fonts/AxiForma-Light.OTF");
}

@font-face {
  font-family: AxiFormaLightItalic;
  src: url("../fonts/AXIFORMA-LIGHTITALIC.OTF");
}

@font-face {
  font-family: AxiFormaMedium;
  src: url("../fonts/AxiForma-Medium.OTF");
}

@font-face {
  font-family: AxiFormaMediumItalic;
  src: url("../fonts/AXIFORMA-MEDIUMITALIC.OTF");
}

@font-face {
  font-family: AxiFormaRegular;
  src: url("../fonts/AXIFORMA-REGULAR.OTF");
}
@font-face {
  font-family: AxiFormaSemiBold;
  src: url("../fonts/AXIFORMA-SEMIBOLD.OTF");
}

@font-face {
  font-family: AxiFormaSemiBoldItalic;
  src: url("../fonts/AXIFORMA-SEMIBOLDITALIC.OTF");
}
@font-face {
  font-family: AxiFormaThin;
  src: url("../fonts/AXIFORMA-THIN.OTF");
}
@font-face {
  font-family: AxiFormaThinItalic;
  src: url("../fonts/AXIFORMA-THINITALIC.OTF");
}

.outerCont {
  width: 100%;

  .introSection {
    position: relative;
    width: 100%;
    height: 100vh;
    .myVideo {
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100vw;
      height: 100vh;
      z-index: -100;
      object-fit: cover;
    }

    .TulipCont {
      position: absolute;
      top: 0;
      padding-left: 3%;
      padding-top: 3%;
      //   padding-left: 50px;
      //   padding-top: 40px;
      .TulipLogo {
        // max-width: 150px;
        width: 50%;
      }
    }

    .ContactSection {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 3%;
      padding-top: 3%;
      .Contact {
        border-style: solid;
        border-width: 1px;
        border-color: #26937a;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 17px;
        padding-top: 5px;
        padding-bottom: 5px;
        .mailLogo {
          width: 25px;
          fill: #8dbaac;
        }
        .Content {
          padding-left: 15px;
          color: #ffffff;
          text-align: center;
          font-size: 20px;
          font-weight: 100;
          font-family: AxiFormaBook;
        }
      }
    }

    .IntroTextCont {
      position: absolute;
      top: 50%;
      left: 12.5%;
      right: 12.5%;
      align-items: center;
      .IntroTitleText {
        text-align: center;
        font-size: 45px;
        font-weight: 800;
        font-family: AxiFormaBold;
        color: #ffffff;
      }
      .IntroDescription {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        font-family: AxiFormaBook;
        color: #ffffff;
        padding-left: 22%;
        padding-right: 20%;
      }
    }

    .ArrowDownButtonCont {
      position: absolute;
      bottom: 10%;
      left: 12.5%;
      right: 12.5%;
      padding-left: 3%;
      padding-top: 3%;
      align-items: center;
      //   padding-left: 50px;
      //   padding-top: 40px;
      .ArrowDownButton {
        // max-width: 150px;
        width: 70px;
        padding-left: 43%;
        // text-color: #000000;
      }
    }
  }

  .DetailInfoCont {
    margin-top: 100px;
    .DefinitionCont {
      display: flex;
      flex-direction: row;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 20px;
      padding-right: 30px;
      .ImageSectionCont {
        flex: 1;
        margin: auto;
        padding: 10px;
        justify-content: center;
        .ImageSection {
          width: 500px;
        }
      }
      .TextInformation {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 70px;
        .TitleSection {
          font-size: 50px;
          color: #848fa5;
          font-family: AxiFormaLight;
          margin-bottom: 30px;
        }
        .descriptionSection {
          font-size: 23px;
          color: #4d4d4d;
          font-family: AxiFormaThin;
          line-height: 2em;
          font-weight: 700;
        }
      }
    }
  }

  .CarouselCont {
    padding: 40px;
    background-color: #363945;
    .CarouselHeader {
      text-align: center;
      font-size: 30px;
      color: #ffffff;
      font-family: AxiFormaMedium;
    }
  }

  .SignUpCont {
    padding: 40px;
    .GetStarted {
      text-align: center;
      font-size: 30px;
      font-family: AxiFormaMedium;
      color: #848fa5;
    }

    .FormFillRequest {
      text-align: center;
      font-family: AxiFormaBook;
      color: #585858;
    }

    .RequirementCont {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 25%;
      margin-right: 25%;
      border: solid;
      border-color: #0debe8;
      border-width: 2px;

      .RequirementSubCont {
        margin: 30px 60px 20px 100px;

        .RequirementHeader {
          font-family: AxiFormaBold;
          margin-bottom: 20px;
        }

        .RequirementsList {
          list-style: none;
          .RequirementItem {
            margin-bottom: 20px;
            font-family: AxiFormaLight;
            ::before {
              content: "\2714\0020";
            }
          }
        }
      }
      //   .RequirementHeader {
      //     margin-top: 40px;
      //   }
    }
  }

  .FooterCont {
    margin: 50px;
    .FooterHorizontalLine {
      border: 1px solid #0eeae6;
      width: 100vw;
      background-color: #0eeae6;
    }
    .Footer {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .Copyright {
        flex: 1;
      }
      .FooterContact {
        flex: 1;
        text-align: right;

        .FooterColor {
          color: #000000;
        }
      }
    }
  }
}
